* {
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: "-apple-system", "Segoe UI";
    color: white;
    margin: 0px;
    padding: 0px;
}

main {
    height: 88vh;
    display: flex;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
}
